

.footer{
	height:400px;

}

#rock{
	text-align: right;
}

#answer{

}

.container{
	height: 275px;
	padding-top: 25px;
	background-color: white;
	width:100%;
}
.score{
	text-align: center;
}

h1, h2, h3, h4, h5, p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color:orange;
}

p{
	color:darkgrey;
}
h2{
	font-weight: 100;
	font-size: 40px;
	color:black;
}

img{
	width:150px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.toggleOn{
	width:200px;
}

.toggleOff{
	display: block;
}