
#Footer{
	width:100%;
	height: 150px;

}

#rock{
	text-align: right;
}

#answer{
	padding-top: 50px;
}

.img-center{
	margin:0 auto;
}

h1, h2, h3, h4, h5, p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color:orange;
}

h2{
	font-weight: 100;
	font-size: 40px;
	color:black;
}

img{
	width:150px;
	height: auto;
	float:left;
	margin-left:auto;
	margin-right: auto;

}
